body {
  background-image:url("407.jpg");
  	background-attachment: fixed;
		background-size: cover;
		background-position: center;

}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

a{
	text-decoration:none;
	color: #ff6666;
}
h2{
	color:white;
	text-align:center;
}
mark{
	background-color:red;
	background-image:url("à.jpg");
	border: 3px inset red;
	
}
.ee{
	text-align:center;	
	font-size:220%; 
	text-transform: uppercase;
	font-weight:bold;
	
	
}