body{
        background-image: url("407.jpg");
		
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
}
h2{
	font-size:170%;
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;
	color:white;
	}

.P{
     margin-left: 45%;
	font-size: 500%;
	
	color: red;
	}
p{
		text-align:center;
		font-size:200%;
		color:white;
	}

h1{
	
	text-align:center;
	text-transform: uppercase;
	font-weight:bold;

}

mark{
	background-color:red;
	background-image:url("à.jpg");
	border: 3px inset red;
}
a{
	font-size:150%;
	color:white;
}


.joel{
	margin-left:2%;
	color:white;
	text-decoration: none;
	font-size:80%;
	
}
.joe{
	text-decoration: none;
	margin-left:50%;
    color:white;
	font-size:80%;
	

	
